@page "/"
@using Data
@using Model
@inject PeopleContext db

<PageTitle>Počet lidí v DB</PageTitle>

<h1>Počet lidí v DB</h1>
<span>V databázi je @count lidí.</span>

@code{
	int count;

	protected override void OnInitialized()
	{
		count = db.Persons.Count();
	}


}


